body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.cell {
	position: absolute;
	display: inline-block;
	border: 1px solid black;
    cursor: pointer;
    background-color: #eee;
}

.discovered.cell {
    background-color: #fff;
    text-align: center;
    line-height: 50px;
}

.red.cell {
    color: red;
}

.black.cell {
    color: black;
}

.selected.cell {
    background-color: yellow;
}

.cell:hover {
    background-color: #ddd;
}

#board {
	position: relative;
}
