body {
  margin: 0px;
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  overflow: hidden;
}
div {
  margin:0px;
  padding: 0px;
}
a {
  color: #00B7FF;
}

.inlineDiv{
  display: inline-block;
}
.buttons{}
.modeButton{
    text-align: center;
    height: 23px;
    width: 122px;
    margin-bottom: 10px;
    margin-left: 11%;;
    border-radius: 10px;
}
.selected.modeButton{
  background-color: azure;
}

.players{
  margin-bottom: 10px;
}
.player{
  display: inline-block;
  width: 60px;
  /*height: 16px;*/
  /*text-align: center;*/
  /*padding: 0px;*/
  /*border: 1px #EADBDB solid;*/
  border-radius: 10px;
  /*margin-right: 18px;*/
  /*margin-left: 70px;*/
}
.playerBorder{
  border: 3px aqua solid;
}
.hide{
  display: none;
}
.red.player {
  background-color: red;
  /*color: red;*/
}
.black.player {
  background-color: #1C5595;
  /*color: #1C5595;*/
}
#mainPart{
  width:100%; 
  min-width: 500px;
  max-width: 1000px;
}
#divMLeft{
  width:80%;
  padding: 0%;
  padding-bottom: 1%;
  border: 2px solid #a5a9a9;
  float:left;
}
#divMRight{
  width: 18%;
  display: inline-block;
  color: #8E8D8D;
}

#board {
  /*position: relative;*/
  width:100%;
  background-image: url(/image/p169v2.png);
  background-repeat: no-repeat;
  background-size: 92.8%;
  /*background-position: 11px 11px;*/
}

.cell {
	/*position: absolute;*/
	display: block;
  float: left;
	border: 1px solid #f5f9f9;
  cursor: pointer;
  background-image: url(/image/pieceHide.png);
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: 50%;
  /*background-color: #eee;*/
}
.discovered.cell {
  background-image: none;
  text-align: center;
  line-height: 50px;
}
.red.cell {
  color: red;
}
.black.cell {
    color: black;
}
.selected.cell {
    background-color: yellow;
}
.killed.cell {
    background-color: green;
}
.cell:hover {
    background-color: #f3f0f0;
}

#divDeads{}

.cellDead{
  display: block;
  float: left;
  border: 1px solid #f5f9f9;
  background-image: url(/image/pieceHide.png);
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: 50%;
}

.action1,.action2{
  width: 56%;
  margin: 22% 20%;
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: 50%;
}
#divCurrCamp{
  margin: 18% 2%;
  text-align:center;
}
#divAway{
  background-image: url(/image/bgAway.png);
}
#divPeace{
  background-image: url(/image/bgPeace.png);
}
#divSet{
  background-image: url(/image/bgSet.png);
  margin-top:29%;
  margin-bottom: 7%;
}
#divShare{
  background-image: url(/image/bgShare.png);
  margin-bottom: 0;
  margin-top: 0;
}